<dl class="award">
    <dt>{{_("Awarded to:")}}</dt>
    <dd class="awarded_to">
        <a href="{{ award.user.get_absolute_url() }}" class="username"><img src="{{ user_avatar(award.user) }}" class="avatar" alt="{{ award.user }}" width="128" height="128" />{{ award.user }}</a>
        {% if request.user == award.user %}
            <strong>{{ _("(That's you!)") }}</strong>
        {% endif %}
    </dd>
    {% if award.nomination %}
        <dt><a href="{{ award.nomination.get_absolute_url() }}">{{_('Nominated by:')}}</a></dt>
            <dd class="nominated_by"><a href="{{ award.nomination.creator.get_absolute_url() }}" class="username"><img src="{{ user_avatar(award.nomination.creator) }}" class="avatar" alt="{{ award.nomination.creator }}" width="128" height="128" />{{ award.nomination.creator }}</a></dd>
        <dt>{{_('Approved by:')}}</dt>
        {% if award.badge.nominations_autoapproved %}
            <dd class="nomination_approved_by"><span class="autoapproved">{{_('(auto-approved)')}}</span></dd>
        {% elif award.nomination.approver %}
            <dd class="nomination_approved_by"><a href="{{ award.nomination.approver.get_absolute_url() }}" class="username"><img src="{{ user_avatar(award.nomination.approver) }}" class="avatar" alt="{{ award.nomination.approver }}" width="128" height="128" />{{ award.nomination.approver }}</a></dd>
        {% endif %}
    {% else %}
        <dt>{{_("Awarded by:")}}</dt>
            <dd class="awarded_by"><a href="{{ award.creator.get_absolute_url() }}" 
                class="username"><img src="{{ user_avatar(award.creator) }}" class="avatar"
                    alt="{{ award.creator }}" width="128" height="128" />{{ award.creator }}</a></dd>
    {% endif %}
    <dt>{{_("Awarded at:")}}</dt>
        <dd class="issued">{{ award.created }}</dd>
    {% if award.description %}
        <dt>{{_("Explanation:")}}</dt>
        <dd class="description">{{ award.description | bleach_markup }}</dd>
    {% endif %}
</dl>
