{% extends "badger/base.html" %}

{% block pageid %}badges{% endblock %}

{% block content %}

<section class="badges_list" class="item_flow">
    <header class="page-header">
        <h2>
            {% if tag_name %}
            <span>{% trans %}Badges tagged <a href="" class="tag"><i class="icon-tag icon-white"></i> {{tag_name}}</a>{% endtrans %}</span>
                {% if (not config.BADGER_ALLOW_ADD_ONLY_BY_MOZILLIANS) or (not request.user.is_anonymous() and request.user.get_profile().is_vouched_mozillian()) %}
                    {% if badger_allows_add_by(request.user) %}
                        <small>
                            <a class="action btn btn-large btn-primary" href="{{ url('badger.views.create') | urlparams(tags=tag_name) }}">{{ _('Create new badge') }}</a>
                        </small>
                    {% endif %}
                {% endif %}
            {% elif query_string %}
                <span>{{ _('Badges search') }}</span>
            {% else %}
                <span>{{ _("All badges") }}</span>
                {% if badger_allows_add_by(request.user) %}
                    <small>
                        <a class="action btn btn-primary" href="{{ url('badger.views.create') }}">{{ _('Create new badge') }}</a>
                    </small>
                {% endif %}
            {% endif %}
        </h2>
    </header>
    {% if query_string %}
        {% if badge_list.count() == 0 %}
            <p>
                {{ _('We couldn\'t find any results for <strong>"{query_string}"</strong>') | fe(query_string=query_string) }}
            </p>
            <p>
                {{ _('Try searching for something else.') }}
            </p>
        {% else %}
            <p>
                {{ _('Found <strong>{num}</strong> badges matching <strong>"{query_string}"</strong>') | fe(num=badge_list.count(), query_string=query_string) }}
            </p>
        {% endif %}
    {% endif %}

    {% include "badger/includes/badges_list.html" %}

    {% if award_list %}
        <h2>{{ _('Recent awards for these badges') }}</h2>
        {% set award_list = award_list[:12] %}
        {% set hide_pagination = True %}
        {% include "badger/includes/awards_list.html" %}
    {% endif %}

</section>
{% endblock %}
