{% extends "badger/base.html" %}

{% block pageid %}home{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recently awarded badges') }}"
        href="{{ url('badger.feeds.awards_recent', 'atom') }}" />
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recently created badges') }}"
        href="{{ url('badger.feeds.badges_recent', 'atom') }}" />
{% endblock %}

{% block content %}

<section class="home-intro hero-unit">
    <h1><span>{{ settings.SITE_TITLE }}</span></h1>

    <div class="row-fluid">

        <section class="item span3">
            <section class="blurb">
            {% if not config.BADGER_ALLOW_ADD_ONLY_BY_MOZILLIANS %}
                <h3>Welcome!</h3>
                <p>{% trans %}
                    This is a service for creating and issuing badges,
                    based on <a href="https://github.com/mozilla/badges.mozilla.org">Open&nbsp;Source</a>
                    software and the <a href="http://www.openbadges.org/">Mozilla OpenBadges</a>
                    standard.
                {% endtrans %}</p>
            {% else %}
                <h3>Badges for & by Mozillians!</h3>
                <p>{% trans %}
                    This is a service for the Mozilla community,
                    using the <a href="http://www.openbadges.org/">Mozilla OpenBadges</a>
                    standard and
                    <a href="https://github.com/mozilla/badges.mozilla.org">Open&nbsp;Source</a>
                    software.
                {% endtrans %}</p>
            {% endif %}
            </section>
            <section class="action">
                {% if request.user.is_authenticated() %}
                    <p><a class="action btn btn-info btn-large" href="{{ request.user.get_absolute_url() }}">{{ _("☺  View your profile") }}</a></p>
                {% else %}
                    {% block signin %}
                        {{ browserid_login(text='Login') }}
                    {% endblock %}
                {% endif %}
            </section>
        </section>

        {% if not config.BADGER_ALLOW_ADD_ONLY_BY_MOZILLIANS %}
            <section class="item span3">
                <section class="blurb">
                    <h3>{{ _("Have an idea for a badge?") }}</h3>
                    <p>{{ _("Click here to start:") }}</p>
                </section>
                <section class="action">
                    <p><a class="action btn btn-primary btn-large" href="{{ url('badger.views.create') }}">{{ _("✸ Create a new badge") }}</a></p>
                </section> 
            </section> 
        {% elif (not request.user.is_anonymous() and request.user.get_profile().is_vouched_mozillian()) %}
            <section class="item span3">
                <section class="blurb">
                    <h3>{{ _("Have an idea for a badge?") }}</h3>
                    <p>{{ _("You have a vouched mozillians.org profile, so you're welcome to create and issue badges here. Click here to start:") }}</p>
                </section>
                <section class="action">
                    <p><a class="action btn btn-primary btn-large" href="{{ url('badger.views.create') }}">{{ _("✸ Create a new badge") }}</a></p>
                </section>
            </section>
        {% else %}
            <section class="item span3">
                <section class="blurb">
                    <h3>{{ _("Want to make badges here?") }}</h3>
                    <p>{{ _("This service requires a vouched profile at mozillians.org associated with the email address used to sign in with Persona.") }}</p>
                </section>
                <section class="action">
                    <p><a class="action btn btn-primary btn-large" href="https://mozillians.org/en-US/about/">{{ _("✸ Learn about mozillians.org") }}</a></p>
                </section>
            </section>
        {% endif %}

        <section class="item span3">
            <form class="claim" method="POST" action="{{ url('badger.views.claim_deferred_award') }}">
                {{ csrf() }}
            <section class="blurb">
                <h3>{{ _("Have a claim code?") }}</h3>
                <p>{{ _("Type it here to claim your badge:") }}</p>
                    <input type="text" size="16" class="text-input claim-code" 
                           name="code" id="intro_code" 
                           placeholder="enter claim code" 
                           value="{{ request.GET.get('code','') }}" />
            </section>
            <section class="action">
                    <input type="submit" class="action btn btn-success btn-large" value="{{ _('Claim award from code') }}" />
            </section>
                </form>
        </section>

        <section class="item span3">
            <h3>Looking for Open Badges?</h3>
            <p><a href="http://www.openbadges.org/"><img src="{{ static('img/openbadges-logo.png') }}"></a></p>
            <p>Free software + an open technical standard to create, issue and
            verify digital badges across the web.</p>
            <p><a href="http://www.openbadges.org/">Check out Open Badges 1.0</a></p>
        </section>

    </div>
</section>

{% if badge_tags %}
<section class="row-fluid">
    <section class="span12">
        <ul class="tags top_tags">
            {% for item in badge_tags %}
                <li><a class="tag" href="{{ url('badger.badges_list', tag_name=item.tag.name) }}"><i class="icon-tag icon-white"></i> {{ item.tag.name }} <span class="count">{{ item.count }}</span></a></li>
            {% endfor %}
        </ul>
    </section>
</section>
{% endif %}

<section class="row-fluid">

    <section id="recent_badges" class="span5 item_flow">
        <header class="page-header">
            <h2>
                <span>{{ _("Recently created badges") }}</span>
                <small>
                    <a href="{{ url('badger.views.badges_list') }}">{{ _("More...") }}</a>
                    <a href="{{ url('badger.feeds.badges_recent', 'atom') }}"><img alt="{{ _("Atom feed") }}" src="{{ static('img/feed-icon-14x14.png') }}" /></a>
                </small>
            </h2>
        </header>

        {% set badge_list = badge_list[:12] %}
        {% include "badger/includes/badges_list.html" %}
    </section>

    <section id="recent_awards" class="span7 item_flow">
        <header class="page-header">
            <h2>
                <span>{{ _("Recently awarded badges") }}</span>
                <small>
                    <a href="{{ url('badger.views.awards_list') }}">{{ _("More...") }}</a>
                    <a href="{{ url('badger.feeds.awards_recent', 'atom') }}"><img alt="{{ _("Atom feed") }}" src="{{ static('img/feed-icon-14x14.png') }}" /></a>
                </small>
            </h2>
        </header>
        {% set award_list = award_list[:9] %}
        {% include "badger/includes/awards_list.html" %}
    </section>

</section>
{% endblock %}
