<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}{{ settings.SITE_TITLE }}{% endblock %}</title>
    {% block site_css %}
      {% compress css %}
        <link href="{{ static('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ static('bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
        <link href="{{ static('css/base.css') }}" rel="stylesheet">
      {% endcompress %}
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if settings.FACEBOOK_ADMINS %}
        <meta property="fb:admins" content="{{ settings.FACEBOOK_ADMINS }}">
    {% endif %}
    {% if settings.FACEBOOK_APP_ID %}
        <meta property="fb:app_id" content="{{ settings.FACEBOOK_APP_ID }}">
    {% endif %}
    {% block extrahead %}{% endblock %}
  </head>
  <body id="{% block pageid %}{% endblock %}" class="html-{{ DIR }} {% block bodyclass %}{% endblock %}" data-mobile-cookie="{{ settings.MOBILE_COOKIE }}">
      
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="{{ url('home') }}"><img width="42" height="42" align="bottom" src="{{ static('img/logo.png') }}" class="logo" /></a>
          <a class="brand" href="{{ url('home') }}">{{ settings.SITE_TITLE }}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{{ url('badger.views.badges_list') }}">{{ _('Badges') }}</a></li>
              <li><a href="{{ url('badger.views.awards_list') }}">{{ _('Awards') }}</a></li>
              {% set allow_staff = (user.is_staff or user.is_superuser) %}
              {% if allow_staff %}
                  <li><a href="{{ url('badger.views.staff_tools') }}">{{ _('Staff Tools') }}</a></li>
              {% endif %}
            </ul>
            <form class="navbar-search pull-left search_badges" method="GET"
                    action="{{ url('badger.views.badges_list') }}">
                <input type="text" name="q" id="id_q" class="search-query span2"
                    value="{{ request.GET.get('q', '') }}" placeholder="{{ _('Search') }}" />
            </form>
            <div class="navbar-text pull-right">
                {% if request.user.is_authenticated() %}
                    {% trans user_url=request.user.get_absolute_url(), user_name=request.user, user_email=request.user.email %}
                        Welcome back, <a class="signed-in-user" data-email="{{user_email}}" href="{{user_url}}">{{user_name}}</a>
                    {% endtrans %}
                    (
                        {% if notice_unseen_count %}
                            <a class="notices" href="{{ url('notification_notices') }}">{{ notice_unseen_count }}</a>,
                        {% endif %}
                        <a class="browserid-signout" href="{{ url('profiles.logout') }}">{{_('Sign out')}}</a>
                    )
                {% else %}
                    {% block signin %}
                    <form class="browserid" action="{{url('browserid_verify')}}" method="POST">
                        {{ csrf() }}
                        {% set next = request.GET.get('next', False) %}
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}" />
                        {% else %}
                            <input type="hidden" name="next" value="{{ request.build_absolute_uri() }}" />
                        {% endif %}
                        {{ browserid_form.as_p()|safe }}
                        <a href="#" class="browserid-signin" title="{{_('Sign In with BrowserID')}}"><img src="{{ static('img/sign_in_blue.png') }}" /></a>
                    </form>
                    {% endblock %}
                {% endif %}
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <section>
            {% if messages %}
                <header class="messages">
                    {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                    {% endfor %}
                </header>
            {% endif %}
            {# {% block subnav %}{% endblock %} #}
            {% block content %}{% endblock %}
          </section>
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>
          {{ _('The code that runs this site is Open Source and available at <a href="{url}">{url}</a>.')|fe(url='https://github.com/mozilla/badges.mozilla.org') }}
        </p>
        <p>
          {{ _('If you have problems, <a href="{url}">please file an issue</a>.')|fe(url='https://github.com/mozilla/badges.mozilla.org/issues') }}
        </p>
        {% if false %}
          <div id="footer">
            {# These links will add/remove cookies. See JavaScript. #}
            <a class="desktop-link" href="">{{ _('View Desktop Site') }}</a>
            &nbsp;|&nbsp;
            <a class="mobile-link" href="">{{ _('View Mobile Site') }}</a>
          </div>
        {% endif %}
      </footer>

    </div><!--/.fluid-container-->

    {% block site_js %}
      <script src="https://login.persona.org/include.js"></script>
      {% compress js %}
        <script src="{{ static('js/libs/jquery-1.7.1.min.js') }}"></script>
        <script src="{{ static('js/libs/jquery.cookie.js') }}"></script>
        <script src="{{ static('js/libs/browserid.js') }}"></script>
        <script src="{{ static('js/base.js') }}"></script>
        <script src="{{ static('bootstrap/js/bootstrap.min.js') }}"></script>
      {% endcompress %}
    {% endblock %}
    {% block js %}{% endblock %}

  </body>
</html>
