[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-badger"]
	path = vendor-local/src/django-badger
	url = git://github.com/mozilla/django-badger.git
[submodule "vendor-local/src/django-browserid"]
	path = vendor-local/src/django-browserid
	url = git://github.com/mozilla/django-browserid.git
[submodule "vendor-local/src/django-south"]
	path = vendor-local/src/django-south
	url = git://github.com/lambdafu/django-south.git
[submodule "vendor-local/src/django-csp"]
	path = vendor-local/src/django-csp
	url = git://github.com/mozilla/django-csp.git
[submodule "vendor-local/src/django-notification"]
	path = vendor-local/src/django-notification
	url = git://github.com/jtauber/django-notification.git
