{% extends "notification/base.html" %}

{% block headtitle %}{{ _("Notices") }}{% endblock %}

{% block content %}
<section>
    <header class="page-header">
        <h1>
            <span>{{ _("Notices") }}</span>
            <small>(
                <a href="{{ url('notification_notice_settings') }}">{{ _("Settings") }}</a>,
                <a href="{{ url('notification_mark_all_seen') }}">{{ _("Mark all read") }}</a>
            )</small>
        </h1>
    </header>
    
    {% if notices %}
            
        {% for notice in notices %}
            <div class="{{ notice.is_unseen() and 'unseen_notice' or 'notice' }}">
                <span class="label label-info">{{ _(notice.notice_type.display) }}</span>
                <span class="notice_message">{{ notice.message|safe }}</span>
                <span class="notice_time">{{ notice.added }}</span>
            </div>
        {% endfor %}
        
    {% else %}
        <p>{{ _("No notices.") }}</p>
    {% endif %}

</section> 
{% endblock %}
