{% extends "base.html" %}

{% block pageid %}profile_detail{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recent awards') }}"
        href="{{ url('badger.feeds.awards_by_user', 'atom', user.username) }}" />
{% endblock %}

{% block content %}

<section class="row-fluid">

    <section class="span4" id="detail">
        <header class="page-header">
            <h2>{{ _('Profile: {user}') | f(user=user) }}</h2>
        </header>
        <dl class="profile">
            {% if profile.display_name %}
                <dt class="display_name">Display name:</dt><dd>{{ profile.display_name }}</dd>
            {% else %}
                <dt class="username">Username:</dt><dd>{{ user.username }}</dd>
            {% endif %}
            <dt class="avatar">Avatar:</dt><dd><img class="avatar" src="{{ user_avatar(profile.user) }}" /></dd>
            {% if profile.location %}
                <dt class="location">Location:</dt><dd>{{ profile.location }}</dd>
            {% endif %}
            {% if profile.bio_html %}
                <dt class="bio">Bio:</dt><dd>{{ profile.bio_html | safe }}</dd>
            {% endif %}
            <dt class="created">Created:</dt><dd>{{ profile.created }}</dd>
            <dt class="modified">Modified:</dt><dd>{{ profile.modified }}</dd>
            <dt class="actions">Actions:</dt><dd><ul class="btn-list">
                {% if profile.allows_edit(request.user) %}
                    <li><a class="btn" href="{{ url('profiles.profile_edit', profile.user.username) }}">{{ _('Edit profile') }}</a>
                    <li><a class="btn" href="{{ url('notification_notices') }}">{{ _("View notices") }}</a></li>
                    <li><a class="btn" href="{{ url('notification_notice_settings') }}">{{ _("Notification settings") }}</a></li>
                {% endif %}
            </ul></dd>
        </dl>
    </section>

    <section class="span8 related">

    {# TODO: Move this into Nomination model? #}
    {% if request.user == profile.user or request.user.is_superuser or request.user.is_staff %}
        {% if nominations_pending_approval %}
            {% set nominations_to_approve = nominations_pending_approval(profile.user) %}
            {% if nominations_to_approve %}
            <section id="nominations_to_approve">
                <header class="page-header">
                    <h3>Nominations for you to approve</h3>
                </header>
                <ul class="nominations">
                    {% for nomination in nominations_to_approve %}
                        <li><a href="{{ nomination.get_absolute_url() }}">{{ nomination }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        {% endif %}

        {% if nominations_pending_acceptance %}
            {% set nominations_to_accept = nominations_pending_acceptance(profile.user) %}
            {% if nominations_to_accept %}
            <section id="nominations_to_accept">
                <header class="page-header">
                    <h3>Nominations for you to accept</h3>
                </header>
                <ul class="nominations">
                    {% for nomination in nominations_to_accept %}
                        <li><a href="{{ nomination.get_absolute_url() }}">{{ nomination }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        {% endif %}
    {% endif %}

    {% set award_list = user_awards(profile.user) %}
    {% if award_list %}
    <section id="recent_awards" class="item_flow">
        <header class="page-header">
            <h3>
                <span>{{ _('Recent awards') }}</span>
                <small>(
                    <a href="{{ url('badger.views.awards_by_user', profile.user.username) }}">More...</a>
                    <a href="{{ url('badger.feeds.awards_by_user', 'atom', profile.user.username) }}"><img src="{{MEDIA_URL}}/img/feed-icon-14x14.png" /></a>
                )</small>
            </h3>
        </header>
        {% include "badger/includes/awards_as_badges_list.html" %}
    </section>
    {% endif %}

    {% set badge_list = user_badges(profile.user) %}
    {% if badge_list %}
    <section id="recent_badges" class="item_flow">
        <header class="page-header">
            <h3>
                <span>{{ _('Recent badges') }}</span>
                <small>(
                    <a href="{{ url('badger_multiplayer.views.badges_by_user', profile.user.username) }}">More...</a>
                    <a href="{{ url('badger_multiplayer.feeds.badges_by_user', 'atom', profile.user.username) }}"><img src="{{MEDIA_URL}}/img/feed-icon-14x14.png" /></a>
                )</small>
            </h3>
        </header>
        {% include "badger/includes/badges_list.html" %}
    </section>
    {% endif %}

    </section>

{% endblock %}
