{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated() %}
    <section>
        <header class="page-header">
            <h1>Already signed in</h1>
        </header>
        <p><a href="{{ url('django.contrib.auth.views.logout') }}">{{ _('Sign out?') }}</a></p>
    </section>
{% else %}
    <section>
        {% if request.user.is_authenticated() %}
            <header class="page-header">
                <h1>Already signed in</h1>
            </header>
            {{ browserid_logout(text='Logout') }}
        {% else %}
            <header class="page-header">
                <h1>Sign in with Persona</h1>
            </header>
            {{ browserid_login(text='Login') }}
        {% endif %}
    </section>
{% endif %}

{% endblock %}
